.form-container {
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
  color: azure;
}

.mantine-Stepper-stepIcon:where([data-progress]) {
  border-color: #386ed3;
}

.mantine-Stepper-separator:where([data-active]) {
  background-color: #386ed3;
}

.mantine-Stepper-steps {
  margin: auto;
  width: 60%;

  @media (max-width: em(500px)) {
    width: 80%;
  }

  @media (max-width: em(300px)) {
    width: 95%;
  }
}

.mantine-Stepper-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 205px;
}

.temp-card {
  border-radius: 4px;
  border: 1px solid darkslategray;
  padding-bottom: 27px;
  max-width: 420px;
  width: 95%;
  margin: auto;
}

.temperature-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 128px;

  .air-text {
    margin-top: -77px;
    font-weight: bold;
    user-select: none;
  }

  .water-icon {
    margin-top: 20px;
  }

  .water-text {
    margin-top: -50px;
    font-weight: bold;
    user-select: none;
  }
}

.mantine-Checkbox-label {
  color: darkslategrey;
  user-select: none;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;

  @media (max-width: em(400px)) {
    gap: 1rem;
  }
}

.checkbox-card {
  border-radius: 4px;
  width: 170px;
  border: 1px solid darkslategray;
  background-color: white;
  color: black;
  padding: 1rem;

  @media (max-width: em(400px)) {
    width: 120px;
    padding: 0.25rem;
    svg {
      font-size: 100px;
    }
  }
}
