.form-container {
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
  color: azure;
}

.mantine-Stepper-stepIcon:where([data-progress]) {
  border-color: #386ed3;
}

.mantine-Stepper-separator:where([data-active]) {
  background-color: #386ed3;
}
